@import "./cards.scss";
@import "./scoreCard.scss";

.ta-c {
  text-align: center;
}

.main-section {
  padding: 0px;
  background-color: #E6E7E9;
}

.p-40 {
  padding: 40px;
}

.p-b0 {
  padding-top: 0px;
}
