#score-card-container {
  background-color: #556F7A;
  padding: 0px;
  padding-top: 10px;
  height: 100vh;
}

.panel-heading {
  background-color: #B79FAD;
  height: 5vh;
}

.panel-block {
  p {
    color: white ;
  }
  .title {
    display: block;
  }
  .subtitle {
    display: block;
  }
}

.user-list {
  height: 90vh;
  overflow: auto;
}

.search-div {
  height: 5vh;
}
